* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", 'Verdana', 'Geneva', Tahoma, sans-serif;
  font-style: normal;
  width: 100%;
  padding: 0;
  margin: auto;
}

header {
  display: flex;
  width: 100%;
  margin: 0;
}

#header-logo {
  display: none;
}

.top-nav {
  display: none;
  background-color: red;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.nav-items {
  display: none;
}

.menuShown {
  display: flex;
  flex-direction: column;
  padding-top: 15vh;
  background: #3c3a39;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 10vw;
  top: 0;
  left: 0;
}

.menuShown a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 5px;
  font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.close-btn {
  display: none;
  font-size: 2rem;
  height: 5vh;
  z-index: 1;
  position: fixed;
  left: 20px;
}

.menu-btn {
  margin-top: 20px;
  margin-left: 20px;
  background: none;
  font-size: 2rem;
  height: 5vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin: 10px;
  background-image: url('../images/main-bg.jpeg');
  background-color: rgb(252, 252, 252);
  color: black;
}

.main-container {
  width: 90%;
  margin: auto;
}

.main-title h2 {
  margin-top: 55px;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 19px;
  color: red;
}

.main-title span {
  font-size: 23px;
  font-style: normal;
  font-weight: 900;
  padding-top: 0;
  margin-top: 0;
  color: red;
}

.main-description-container {
  border: 2px solid rgba(198, 196, 183, 0.704);
}

.main-description {
  font-size: 12px;
  line-height: 21px;
  padding-top: 0;
  padding-right: 10px;
  padding-left: 13px;
}

.main-date h3 {
  font-size: 29px;
  line-height: 35px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.main-date p {
  margin-top: 0;
}

.main-program {
  display: flex;
  flex-direction: column;
  background: black;
  color: white;
  margin-top: 50px;
  width: auto;
  margin-right: 0;
  margin-left: 0;
}

.main-program h2 {
  text-align: center;
  color: white;
  margin-top: 50px;
  width: 100%;
  border: 23px;
}

.main-program-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  background-color: grey;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.main-program-image {
  width: 15%;
  font-size: 35px;
  height: 3vh;
  margin-left: 15px;
}

.main-program-card-title {
  align-items: center;
  margin-bottom: 0;
  width: 40%;
  font-size: 23px;
}

.main-hr {
  width: 10%;
  border: 1px solid red;
}

.main-program-description {
  width: 60%;
  margin: 0;
  padding: 0;
}

.main-program-card-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  width: 80%;
  margin: 25px;
}

.see-whole-program {
  display: none;
}

.join-btn {
  height: 10vh;
  margin: 5px;
  background-color: red;
  color: white;
  font-size: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.featured-speakers {
  background-color: white;
  color: black;
  text-align: left;
  margin-top: 50px;
}

.featured-speakers-title {
  text-align: center;
}

.featured-speakers hr {
  width: 10%;
  background-color: red;
  height: 1px;
}

.featured-speakers-card {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 0;
  row-gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.featured-speakers-card-image {
  width: 40%;
  padding: 20px;
}

.featured-speakers-card-content {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 0;
}

.featured-speakers-card-title h2 {
  font-size: 23px;
  margin-top: 0;
  margin-left: 0;
  width: auto;
}

.featured-speakers-card-title p {
  font-size: 13px;
  font-style: italic;
  margin-left: 0;
  width: auto;
  color: red;
}

.featured-speakers-card-title-hr {
  width: 20%;
  margin-left: 0;
  padding-left: 0;
  color: grey;
}

.featured-speakers-descritpion {
  /* width: 100%; */
  margin-left: 0;
  width: auto;
}

.featured-speakers-card p {
  font-size: 13px;
  margin-left: 0;
  width: auto;
}

.featured-speakers-card-button {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.featured-speakers-card-button button {
  padding: 20px 10px;
  width: 90%;
  align-self: center;
}

.desktop-footer {
  display: none;
}

/* Desktop version */
@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    font-family: "Lato", 'Verdana', 'Geneva', Tahoma, sans-serif;
    font-style: normal;
    width: 100%;
    padding: 0;
    margin: auto;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: right;
    justify-items: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(21, 1, 1);
  }

  nav {
    display: flex;
    width: 100%;
    padding-right: 40px;
    padding-left: 60px;
  }

  .top-nav-2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
  }

  .top-nav-2 a {
    text-decoration: none;
    color: #fff;
  }

  header {
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
    padding: 10px;
  }

  #header-logo {
    display: flex;
    width: 100%;
    align-self: center;
    margin-left: 0;
    padding-left: 20px;
  }

  .header-logo-image {
    display: flex;
    width: 20%;
  }

  #nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 0.9375em;
    width: 100%;
    padding: 0 20px;
  }

  .nav-items a {
    display: flex;
    flex-direction: row;
    gap: 50px;
    font-family: "Inter", 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    font-size: 0.9375em;
    text-decoration: none;
  }

  .about-desc-1 p {
    padding-top: 20px;
    padding-bottom: 70px;
    justify-content: center;
    width: 80%;
    margin: auto;
    font-size: 18px;
    text-align: center;
  }

  .nav-items a:hover {
    color: red;
  }

  #campaign {
    border: 4px solid red;
    padding: 6px;
  }

  .menu-btn {
    display: none;
  }

  #close-btn {
    display: none;
  }

  .see-whole-program {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
    text-align: center;
    font-size: 23px;
    color: white;
  }

  .main {
    padding-top: 90px;
    background-image: url('/images/main-bg.jpeg');
  }

  .main-container {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 60%;
    margin: auto;
  }

  .main-title {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .main-title h2 {
    font-size: 42px;

    /* color: red; */
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .main-title span {
    font-size: 65px;
    font-weight: 900;

    /* margin: auto; */
    color: red;
  }

  .main-description-container {
    width: 80%;
  }

  .main-description {
    font-size: 20px;
    line-height: 29px;
    width: 100%;
    border-radius: 10px;
    border: 6px solid rgb(255, 255, 255);
  }

  .main-date {
    width: 100%;
  }

  .main-date h3 {
    font-size: 25px;
    width: 100%;
  }

  .main-hr {
    width: 3%;
    color: red;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .main-program-card-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    padding-bottom: 100px;
  }

  .main-program-card {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 35%;
    margin: 0;
    padding: 10px;
    margin-right: 5px;
  }

  .main-program-title {
    font-size: 30px;
  }

  .main-program-title h2 {
    font-size: 30px;
    padding-bottom: 10px;
    margin-bottom: 0;
  }

  .main-program-card:hover {
    border: 2px solid white;
  }

  .main-program-card-title {
    margin: 0;
    padding: 0;
    font-size: 22px;
    text-align: center;
    color: red;
  }

  .main-program-card i {
    margin: 12px;
  }

  .main-program-card h4 {
    color: red;
    font-size: 24px;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 10px;
  }

  .main-program-card p {
    color: white;
    margin-top: 0;
    padding-top: 0;
  }

  .main-program-card-description {
    margin: 0;
    padding: 0;
    font-size: 15px;
    text-align: center;
  }

  .main-program-card-btn {
    display: none;
  }

  .featured-speakers-title hr {
    border: 1px solid red;
    width: 3%;
  }

  #featured-speakers-card-container {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    margin: auto;
    width: 80%;
  }

  .featured-speakers-card-title h2 {
    padding-top: 20px;
  }

  .featured-speakers-card-title hr {
    border: 1px solid red;
    width: 10%;
    margin-left: 0;
  }

  .featured-speakers-card-button {
    display: none;
  }

  .desktop-footer {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    text-align: center;
    color: white;
    font-size: 33px;
    background-color: rgb(12, 1, 1);
  }

  .desktop-footer p {
    margin-bottom: 10px;
  }

  .desktop-footer hr {
    width: 3%;
    border: 1px solid red;
    margin-top: 0;
  }

  .partners-container .partners {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 0;
    padding-bottom: 60px;
  }

  .footer-2 {
    display: flex;
    background-color: #dedfe9;
    color: black;
    width: 100%;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .partners img {
    display: flex;
    height: 9vh;
  }

  .footer-2 img {
    display: flex;
    width: 10%;
  }
}
